In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("slayer.csv")

In [3]:
data

     section_id                                            content   file_name
0       ##87151   43 ripsnorter unplayable watson is gone and h...  w_in_g.txt
1       ##97951   welcome to the world confederation for physic...  w_in_g.txt
2      ##209450   just over a week ago australia were bowled ou...  w_in_g.txt
3      ##239752   release title 345612toolong 2007 release date...  w_in_g.txt
4      ##411252   lte both radio and core network evolution is ...  w_in_g.txt
...         ...                                                ...         ...
1645  ##1151552   study could advantageously be carried on by s...  w_hk_g.txt
1646  ##1153651   the official bit the concept of organic expre...  w_hk_g.txt
1647  ##1154050   nietzsche hegel and schopenhauer hegel and th...  w_hk_g.txt
1648  ##1154350   the forex market the foreign exchange market ...  w_hk_g.txt
1649  ##1157850   some expo tourists dialed the summer hotline ...  w_hk_g.txt

[1650 rows x 3 columns]

In [5]:
df = df[df['file_name'].str.endswith('.txt')]

In [13]:
df['file_name'].value_counts()

file_name
0     339
1     338
2     130
3     117
4      88
5      85
6      71
7      45
8      41
9      40
10     38
11     38
12     37
13     37
14     36
15     35
16     35
17     35
18     34
19     31
Name: count, dtype: int64

In [8]:
df['file_name'] = df['file_name'].str[2:-6]

In [11]:
country_codes = ['gb', 'us', 'au', 'ca', 'ie', 'in', 'nz', 'pk', 'lk', 'za', 'ph', 'sg', 'my', 'ng', 'ke', 'bd', 'hk', 'jm', 'gh', 'tz']

# Create a dictionary to map country codes to numbers starting from 0
country_code_to_number = {country: index for index, country in enumerate(country_codes)}

# Replace country codes in 'file_name' with corresponding numbers
df['file_name'] = df['file_name'].replace(country_code_to_number, regex=True)

     section_id                                            content  file_name
0       ##87151   43 ripsnorter unplayable watson is gone and h...          5
1       ##97951   welcome to the world confederation for physic...          5
2      ##209450   just over a week ago australia were bowled ou...          5
3      ##239752   release title 345612toolong 2007 release date...          5
4      ##411252   lte both radio and core network evolution is ...          5
...         ...                                                ...        ...
1645  ##1151552   study could advantageously be carried on by s...         16
1646  ##1153651   the official bit the concept of organic expre...         16
1647  ##1154050   nietzsche hegel and schopenhauer hegel and th...         16
1648  ##1154350   the forex market the foreign exchange market ...         16
1649  ##1157850   some expo tourists dialed the summer hotline ...         16

[1650 rows x 3 columns]

/var/folders/h4/r6tpj_q56gb11bpc5pv3wfyr0000gn/T/ipykernel_13108/1654439711.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['file_name'] = df['file_name'].replace(country_code_to_number, regex=True)

In [14]:
df.to_csv("cleaned_slayer.csv")