In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("media.csv")

In [13]:
df['country'].value_counts()

country
US                          494
GB                           90
CA                           32
AU                           11
['GB', 'US']                  8
['US', 'CA']                  7
['CA', 'US']                  6
['US', 'GB']                  3
[None, 'US']                  2
['AU', 'US']                  2
['GB', 'US', 'CA']            2
['US', None]                  2
[None, 'CA']                  1
[None, None]                  1
['GB', 'CA', 'ZA']            1
['US', 'HK']                  1
[None, 'US', None]            1
['IE', 'CA', 'GB', 'US']      1
['GB', 'CA']                  1
['CA', 'AU']                  1
['GB', 'AU']                  1
[None, None, None, 'US']      1
['US', 'CA', 'GB']            1
['US', None, 'GB']            1
[None, 'GB', 'ZA', None]      1
['AU', 'GB', 'US', None]      1
['CA', None]                  1
['GB', None, 'US']            1
['AU', None]                  1
['HK', 'US']                  1
PH                            1
['AU', 'US', 'GB']            1
['GB', None]                  1
IE                            1
Name: count, dtype: int64

In [6]:
country_codes = ['GB', 'US', 'AU', 'CA', 'IE', 'IN', 'NZ', 'PK', 'LK', 'ZA', 'PH', 'SG', 'MY', 'NG', 'KE', 'BD', 'HK', 'JM', 'GH', 'TZ']

# Create a dictionary to map country codes to numbers starting from 0
country_code_to_number = {country: index for index, country in enumerate(country_codes)}

# Replace country codes in 'file_name' with corresponding numbers
df['country'] = df['country'].replace(country_code_to_number, regex=True)

In [10]:
df.to_csv("test.csv")